<!-- loads the path to yout static files -->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />


<h1> Name - {{ teacher.name }}<br>
     Webmail - {{ teacher.webmail }}<br>
    Department - {{ teacher.department }}
</h1>


<br><br>


{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    {%for s in students %}
        {% if s.caretaker_approval is True %}
            {% if s.warden_approval is False %}
                <p align="left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="{{ s.webmail }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ s.name }}</p>
            {% endif %}
        {% endif %}
    {% endfor %}
    <input type="submit" value="no_dues_req">
</form>

{% for s in students %}
    {% if s.warden_approval is True %}
        <li>{{ s.name }}</li>
    {% endif %}
{% endfor %}

<form action="../logout/" method="post">
    {% csrf_token %}
    <input type="submit" value="logout">
</form>

